<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 style="font-family: 'Mali', cursive;"> Liste des Fournisseurs </h2>
      <br>
      <table class="table stripped-table">
        <thead>
          <th>#</th>
          <th>Nom</th>
          <th>Ville</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% _.each(fournisseurs, (four) => { %>
          <tr>
              <td> <%= four.id %> </td>
              <td> <%= four.nom %> </td>
              <td> <%= four.ville %> </td>
              <td >
                <form action="/fournisseur/delete" method="POST">
                  <input name="id" type="hidden" value="<%= four.id %>" />
                  <a class="btn btn-warning" href="/fournisseur/<%= four.id %>/edit">Editer</a>
                  <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
              </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
